.notification-wrapper {
  position: absolute;
  top: -20%;
  left: 40%;
}

.notification {
  color: red;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;

  & p {
    margin: 0;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
